<div class="weather-info">
  <h2>Weather for {{ weather.name }}</h2>
  <p>Temperature: {{ ((weather.main.temp - 32) * 5/9)|round(2, 'floor') }}°C</p>
  <p>Humidity: {{ weather.main.humidity }}%</p>
  <p>Wind Speed: {{ weather.wind.speed }} m/s</p>
  <p>Wind Direction: {{ weather.wind.deg }}°</p>
  <p>Cloudiness: {{ weather.clouds.all }}%</p>
  <p>Condition: {{ weather.weather.0.main }}</p>
</div>
